{% extends 'my_site/base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'my_site/index.css' %}">
{% endblock %}
{% block content %}
<section id="blog" class="pt-5 pb-5">
    <div class="text-center" style="color:#fff; padding-top: 3%;" data-aos="fade-in">
        <p class="text-muted pt-5">Check out my latest blog posts</p>
        <h1 class="text-header">BLOG</h1>
    </div>
    <div class="container">
        <div class="row pt-4">
            {% for blog in blogs %}
            <div class="col-lg-4 col-md-6 col-sm-12 pb-5" data-aos="fade-left">
                <div class="card2 mb-3">
                    <img style="object-fit: fill;" src="{{ blog.image.url }}" class="card-img-top" height="400px" width="100%" alt="">
                    <div class="blog-metadata mt-2">
                        <small class="text-muted">{{ blog.date_posted|date:"F d, Y" }}</small>
                    </div>
                    <a style="font-size: 25px; text-decoration:none; color:#fff" href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a>
                    <p id="text-element">{{ blog.article }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<script>
    function truncateText(selector, maxLength) {
        const element = document.querySelector(selector);
        const text = element.textContent;
        if (text.length > maxLength) {
            element.textContent = text.slice(0, maxLength) + '...';
        }
    }
    truncateText('#text-element', 120); // Truncate text to 120 charactors
</script>
{% endblock content %}