{% extends 'my_site/base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'my_site/index.css' %}">
{% endblock %}
{% block content %}
<section id="blog" class="pt-5 pb-5">
    <div class="text-center" style="color:#fff; padding-top: 3%;" data-aos="fade-in">
        <p class="text-muted pt-5">Check out my latest blog posts</p>
        <h1 class="text-header">BLOG DETAIL</h1>
    </div>8
    <div class="container">
        <div class="row pt-4">
            <div class="col-md-8">
                <div class="card detail-card mb-4" data-aos="fade-up">
                        <img style="object-fit: fill;" class="card-img-top" src="{{ blog.image.url }}" width="100%" alt="Card image cap">
                    <div class="blog-metadata mt-2">
                        <small class="text-muted">{{ blog.date_posted|date:"F d, Y" }}</small>
                    </div>
                    <div class="blog-metadata">
                        <h3 class="card-title">{{ blog.title }}</h3>
                        <p class="card-text">{{ blog.content }}</p>
                        <!-- <br>
                        <p class="card-text">{{ blog.content2 }}</p>
                        <br>
                        <p class="card-text">{{ blog.content3 }}</p>
                        <br>
                        <p class="card-text">{{ blog.content4 }}</p>
                        <br>
                        <p class="card-text">{{ blog.content5 }}</p>
                        <br>
                        <p class="card-text">{{ blog.content6 }}</p>
                        <br>
                        <p class="card-text">{{ blog.content7 }}</p>
                        <br>
                        <p class="card-text">{{ blog.content8 }}</p>
                        <br>
                        <p class="card-text">{{ blog.content9 }}</p>
                        <br>
                        <p class="card-text">{{ blog.content10 }}</p>
                        <br>
                        <p class="card-text">{{ blog.content11 }}</p>
                        <br>
                        <p class="card-text">{{ blog.content12 }}</p>
                        <br>
                        <p class="card-text">{{ blog.content13 }}</p>
                        <br>
                        <p class="card-text">{{ blog.content14 }}</p>
                        <br>
                        <p class="card-text">{{ blog.content15 }}</p>
                        <br>
                        <p class="card-text">{{ blog.content16 }}</p>
                        <br>
                        <p class="card-text">{{ blog.content17 }}</p>
                        <br>
                        <p class="card-text">{{ blog.content18 }}</p>
                        <br>
                        <p class="card-text">{{ blog.content19 }}</p>
                        <br>
                        <p class="card-text">{{ blog.content20 }}</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}