{% extends 'my_site/base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'my_site/index.css' %}">
{% endblock %}
{% block content %}
<section id="blog" class="pt-5 pb-5">
    <div class="text-center" style="color:#fff; padding-top: 3%;">
        <p class="text-muted">Check out my latest blog posts</p>
        <h1 class="text-header">BLOG DETAIL</h1>
    </div>8
    <div class="container">
        <div class="row pt-4">
            <div class="col-md-8">
                <div class="card detail-card mb-4">
                        <img style="object-fit: fill;" class="card-img-top" src="{{ blog.image.url }}" width="100%" alt="Card image cap">
                    <div class="blog-metadata mt-2">
                        <small class="text-muted">{{ blog.date_posted|date:"F d, Y" }}</small>
                    </div>
                    <div class="blog-metadata">
                        <h3 class="card-title">{{ blog.title }}</h3>
                        <!-- <p class="card-text">{{ blog.content }}</p> -->
                        <p class="card-text">{{ blog.article }}</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}