{% extends 'my_site/base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'my_site/index.css' %}">
{% endblock %}
{% block content %}

<section class="web-img">
    <div class="intro-content">
        <h4 class="h1" style="color: white; font-weight:900; font-size:60px">Godfred Yaw Tenkorang</h4>
        <div class="container2">
            <p class="p">I'm a</p>
            <section class="animation">
                <div class="first">
                    <div>Web Developer</div>
                </div>
                <div class="second">
                    <div>Graphic Designer</div>
                </div>
                <div class="third">
                    <div>Content Creator</div>
                </div>
            </section>
        </div>
    </div>
    <div class="icon-bar d-none d-md-block">
        <a href="https://web.facebook.com/alo.judgement" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/GodfredTenkora3" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/godfredtenkorang" class="google"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/godfred-tenkorang-616833242/" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.instagram.com/godey.tech/" class="linkedin"><i class="fa fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UC7FdcUoK1laj3st9t06PzHg" class="youtube"><i class="fa fa-youtube"></i></a>
    </div>
</section>
{% endblock %}