{% extends 'my_site/base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'my_site/index.css' %}">
{% endblock %}
{% block content %}
<section id="portfolio" class="pt-4 pb-4">
    <div class="text-center" style="color:#fff; padding-top: 3%;">
        <p class="text-muted">Check out some of my work</p>
        <h1 class="text-header">PORTFOLIO</h1>
    </div>
    <div class="text-center pt-5">
        <a class="port-link" style="font-size: 18px; color:#fff" href="{% url 'portfolio' %}">All</a>
        {% for category in categories %}
            <a class="port-link" style="font-size: 18px; color:#fff" href="{% url 'portfolio' %}?category={{ category.name }}">{{category.name }}</a>
        {% endfor %}
    </div>
    <div class="container">
        <div class="row pt-3">
            {% for portfolio in portfolios %}
            <div class="col-md-4 mb-3 d-flex justify-content-center">
                <div class="some_posts text-center">
                    <div class="img-post">
                        <img style="object-fit: fill;" class="post_img" src="{{ portfolio.image.url }}" height="400px" width="100%" alt="">
                        <div class="middle">
                            <div class="img_title">{{ portfolio.title }}</div>
                            <a href="{{ portfolio.link }}"><img src="{% static 'my_site/images/link1.png' %}"
                                    height="50px" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}