{% extends 'my_site/base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'my_site/index.css' %}">
{% endblock %}
{% block content %}
<section id="services" class="service-section pt-5 pb-5">
    <div class="text-center" style="color:#fff; padding-top: 3%;">
        <p class="text-muted">Check out my Resume</p>
        <h1 class="text-header">RESUME</h1>
    </div>
    <div class="container">
        <div class="row pt-4 mt-4">
            <div class="col-md-6">
                <div style="color: #fff;">
                    <h3 class="pb-3">Education</h3>
                    <div class="card-div pt-3 p-4 mb-2">
                        <h3>Business</h3>
                        <p>Abuakwa State College / 2017 - 2020</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde.</p>
                    </div>
                    <div class="card-div pt-3 p-4 mb-2">
                        <h3>Mobile App Development</h3>
                        <p>Criswell School of Business and Technology / 2021 - 2022</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde.</p>
                    </div>
                    <div class="card-div pt-3 p-4 mb-2">
                        <h3>Accounting with Computing</h3>
                        <p>Kumasi Technical University / 2021 - 2023</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div style="color: #fff;">
                    <h3 class="pb-3">Experience</h3>
                    <div class="card-div pt-3 p-4 mb-2">
                        <h3>Front-End Developer</h3>
                        <p>Flutter / 2021 - 2022</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde.</p>
                    </div>
                    <div class="card-div pt-3 p-4 mb-2">
                        <h3>Back-End Developer</h3>
                        <p>Django / 2022 - Present</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde.</p>
                    </div>
                    <div class="card-div pt-3 p-4 mb-2">
                        <h3>Graphic Designer</h3>
                        <p>Photoshop / 2023 - Present</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-4 pb-4">
    <div class="text-center" style="color:#fff; padding-top: 3%;">
        <p class="text-muted">Services i offer to my clients</p>
        <h1 class="text-header">MY SKILLS</h1>
    </div>
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-6">
                <div class="skills">
                    <div class="detail">
                        <span class="display7">Python</span>
                        <span class="display-8">95%</span>
                    </div>
                    <div class="bar">
                        <div id="python-bar"></div>
                    </div>
                    <div class="detail mt-2">
                        <span class="display7">HTML</span>
                        <span class="display-8">94%</span>
                    </div>
                    <div class="bar">
                        <div id="html-bar"></div>
                    </div>
                    <div class="detail mt-2">
                        <span class="display7">CSS</span>
                        <span class="display-8">89%</span>
                    </div>
                    <div class="bar">
                        <div id="css-bar"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="skills">
                    <div class="detail">
                        <span class="display7">Django</span>
                        <span class="display-8">98%</span>
                    </div>
                    <div class="bar">
                        <div id="django-bar"></div>
                    </div>
                    <div class="detail mt-2">
                        <span class="display7">Photoshop</span>
                        <span class="display-8">70%</span>
                    </div>
                    <div class="bar">
                        <div id="photoshop-bar"></div>
                    </div>
                    <div class="detail mt-2">
                        <span class="display7">JavaScript</span>
                        <span class="display-8">80%</span>
                    </div>
                    <div class="bar">
                        <div id="javascript-bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}