{% extends 'my_site/base.html' %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'my_site/index.css' %}">
{% endblock %}
{% block content %}
<section id="contact" class="pt-5 pb-3">
    <div class="text-center" style="color:#fff; padding-top: 3%;" data-aos="fade-in">
        <p class="text-muted pt-5">Support our Cause</p>
        <h1 class="text-header">DONATE NOW</h1>
    </div>
    <br>
    <div class="container">
        <div class="row">
            
            <div class="pb-4" data-aos="fade-right">
                <!-- <h2 class="pt-2" style="position: relative; color:white;">Message Me</h2> -->
                <div class="forms pt-4 mt-4 text-white">
                    <h1 style="justify-content: center; text-align:center;">Make Donation for GH¢{{ payment.amount }}
                        <script src="https://js.paystack.co/v1/inline.js"></script>
                </div>
                <br>
                <div>
                    <button class="btn btn-outline-secondary" onclick="payWithPayStack()" id="django-paystack-button" type="submit">Donate Now</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script>


    function payWithPayStack() {
        let currency = "GHS";
        let plan = "";
        let ref = "{{ payment.ref }}";
        let obj = {
            key: "{{ paystack_public_key }}",
            email: "{{ payment.email }}",
            fullname: "{{ payment.full_name }}",
            phone: "{{ payment.phone_number }}",
            amount: '{{ payment.amount_value }}',
            ref: ref,
            callback: function (response) {
                window.location.href = "{% url 'verify-payment' payment.ref %}";
            },
        }



        if (Boolean(currency)) {
            obj.currency = currency.toUpperCase()
        }
        if (Boolean(plan)) {
            obj.plan = plan;
        }
        var handler = PaystackPop.setup(obj);
        handler.openIframe();


    }



</script>
{% endblock content %}